### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [1]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
    print(i,round(curr_pop,3))
    curr_pop = curr_pop/1.1

10 10000
9 9090.909
8 8264.463
7 7513.148
6 6830.135
5 6209.213
4 5644.739
3 5131.581
2 4665.074
1 4240.976

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [2]:
# Code here
n = int(input('enter n'))

result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact
print(result)

2.6666666666666665

# Nested Loops

In [3]:
# Examples -> unique pairs
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [4]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end='')
    print()

*
**
***
****

In [5]:
# code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j , end='')
    for k in range(i-1,0,-1):
        print(k, end='')
    
    print()

1
121
12321
1234321

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [6]:
# Code here

# Loop Control Statement

- Break
- Continue
- Pass

In [7]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [8]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

In [9]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [10]:
# continue
for i in range(1,10):
    pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [11]:
s = 'hello'
s = "hello"
# multiline strings
s = """hello"""
s = '''hello'''
s = str('hello')
print(s)

hello

In [12]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [13]:
# Positive Indexing
s = 'hello world'
print(s[1])

e

In [14]:
# Negative Indexing
s = 'hello world'
print(s[-1])

d

In [15]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [16]:
print(s[::-1])

dlrow olleh

In [17]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [18]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [19]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [20]:
s = 'hello world'
del s[-1:-5:-2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [21]:
print('delhi' +" "+ 'mumbai')

delhi mumbai

In [22]:
print('delhi '*5)

delhi delhi delhi delhi delhi

In [23]:
print("*"*50)

**************************************************

In [24]:
#Relational

In [25]:
'delhi' != 'delhi'

False

In [26]:
'mumbai' > 'pune'
#lexiographically compared (meaning which word appears last in dictionary is bigger) .This is as per ASCII

False

In [27]:
'Pune' > 'pune'

False

In [28]:
#Logical
'hello' and 'world'

'world'

In [29]:
'hello' or 'world'

'hello'

In [30]:
'' and 'world'

''

In [31]:
'' or 'world'

'world'

In [32]:
'hello' or 'world'

'hello'

In [33]:
'hello' and 'world'

'world'

In [34]:
not 'hello'

False

In [35]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [36]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [37]:
'd' in 'Delhi'

False

## Common Functions (applicable to all)
- len
- max
- min
- sorted

In [38]:
len('hello world')

11

In [39]:
max('hello world')

'w'

In [40]:
min('hello world')

' '

In [41]:
sorted('hello world', reverse=True) #output is a list

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# Following only work on strings

## Capitalize/Title/Upper/Lower/Swapcase

In [42]:
s = 'hello world'
s.capitalize()

'Hello world'

In [43]:
s.title()

'Hello World'

In [44]:
s.upper()

'HELLO WORLD'

In [45]:
s.lower()

'hello world'

In [46]:
'HELLO WORld'.swapcase()

'hello worLD'

## Count/Find/Index

In [47]:
'my name is tejas'.count('e')

2

In [48]:
'my name is tejas'.find('is')

8

In [49]:
'my name is tejas'.index('is')

8

In [50]:
'my name is tejas'.find('x')

-1

In [51]:
'my name is tejas'.index('x')

ValueError: substring not found

## endswith/startswith

In [52]:
'my name is tejas'.endswith('as')

True

In [53]:
'my name is tejas'.startswith('my')

True

## format

In [54]:
name  = 'tejas'
gender = 'male'

"Hi my name is {} and i am a {}".format(name,gender)

'Hi my name is tejas and i am a male'

In [55]:
"Hi my name is {1} and i am a {0}".format(name,gender)

'Hi my name is male and i am a tejas'

In [56]:
f"Hi my name is {name} and i am a {gender}"

'Hi my name is tejas and i am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [57]:
"tejas05in".isalnum()

True

In [58]:
'tejas'.isalpha()

True

In [59]:
'1234'.isdigit()

True

In [60]:
'1name'.isidentifier()

False

In [61]:
'first_name'.isidentifier()

True

In [62]:
'first-name'.isidentifier()

False

## Split/Join

In [63]:
'hi my name is tejas'.split()

['hi', 'my', 'name', 'is', 'tejas']

In [64]:
'hi my name is tejas'.split('is')

['hi my name ', ' tejas']

In [65]:
" ".join(['hi', 'my', 'name', 'is', 'tejas'])

'hi my name is tejas'

In [66]:
"/".join(['hi', 'my', 'name', 'is', 'tejas'])

'hi/my/name/is/tejas'

## Replace

In [67]:
'hi my name is tejas'.replace('tejas','master')

'hi my name is master'

## Strip

In [68]:
'hi my name is tejas                 '.strip()

'hi my name is tejas'

## Example Programs

In [69]:
# Find the length of a given string without using the len() function

In [73]:
s = input('enter the string')

counter = 0
for i in s:
    counter += 1
print('lenght of string is {}'.format(counter))

lenght of string is 5

In [70]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

In [77]:
email = input('enter the email')
username = email.split('@')[0]
print('username is {}'.format(username))

username is tejas05in

In [80]:
s = input('enter the email')
i = s.index('@')
print("The username is ",s[:i])

The username is  nitish24singh

In [82]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the string')
c = input("what would you like to search for")
print("In the string '{}', the character '{}' appears {} times".format(s,c,s.count(c)))

In the string 'hello world', the character 'l' appears 3 times

In [108]:
s = input('enter the string')
c = input("what would you like to search for")

counter = 0
for i in s:
    if c == i:
        counter += 1
print('frequency',counter)

frequency 3

In [87]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
c = input('enter the character to be replaced')
print(s.replace(c,''))

heo word

In [111]:
s = input('enter the string')
term = input("what would you like to remove")

result = ""

for i in s:
    if i != term:
        result += i

print(result)

hello wold

In [90]:
# Write a program that can check whether a given string is palindrome or not.
s = input('enter the string')
if s == s[::-1]:
    print("the string '{}'is a palindrome".format(s))
else:
    print("No,'{}' is not a palindrome".format(s))

No,'hello' is not a palindrom

In [114]:
s = input('enter the string')

flag= True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i -1]:
        flag = False
        print('Not a Palindrome')
        break
if flag:
    print('Palindrome')

Not a Palindrome

In [102]:
# Write a program to count the number of words in a string without split()
s = input("enter the sentence")
print("the number of words in '{}' is {}".format (s , (s.count(" ") + 1)))

the number of words in 'hi how are you' is 4

In [116]:
s = input("enter the sentence")
counter = 0
for i in s:
    if i == ' ':
        counter += 1
    else:
        continue
print("Word count" ,counter+1)

Word count  2

In [118]:
s = input("enter the sentence")
L= []
temp = ""
for i in s:
    if i != ' ':
        temp = temp + i
    else:
        L.append(temp)
        temp = ""
L.append(temp)
print(L)

['hi', 'how', 'are', 'you']

In [103]:
# Write a python program to convert a string to title case without using the title()
s = input("enter the string")
s.replace(s[0],s[0].upper())

'Hello'

In [124]:
s = input("enter the string")

L = []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
print(L)
print(" ".join(L))

['Hi', 'How', 'Are', 'You']
Hi How Are You

In [126]:
# Write a program that can convert an integer to string.
number = int(input('enter a number'))

digits = '0123456789'
result = ''
while number !=0:
    result = digits[number % 10] + result
    number  = number//10

print(result)
print(type(result))

345
<class 'str'>