# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [38]:
# write your code here
t = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 

L = []
a = []
for i in t:
    if i[0] not in a:
        a.append(i[0])
for x in a:
    p = []
    p.append(x)
    for j in t:
        if x == j[0]:
            p.append(j[1])
    L.append(p)
print(L)

final = []
for i in L:
    final.append(tuple(i))
final

[[5, 6, 7, 8], [6, 10], [7, 13]]

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [58]:
# write your code here
t = (1, 5, 7, 8, 10)
L = []
for i in range(len(t)):
    if i == 0:
        L.append(t[i]*t[i+1])
    elif i == len(t)-1:
        L.append(t[i]*t[i-1])
    else:
        L.append((t[i]*t[i+1]) + (t[i]*t[i-1]))
print(tuple(L))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [60]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
flag = True

for i,j in zip(t1,t2):
    if i!=j:
        flag = False
if flag == True:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [63]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
Tuples = 0 
List = 0
Set = 0
for i in list1:
    if type(i) == tuple:
        Tuples += 1
    elif type(i) == list:
        List += 1
    else:
        Set +=1
print("List - {}".format(List))
print("Set - {}".format(Set))
print("Tuples - {}".format(Tuples))

List - 2
Set - 2
Tuples - 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [77]:
# write your code here
#L = []
#records = int(input("Enter No of records"))
#for i in range(records):
    #student = int(input("Enter Details of student"))
    #name = input("Enter Student name-")
    #high_ed= input("Enter Higher Education")
    #pri_sk = input("Enter Primary Skill")
    #yr_grad = int(input("Enter Year of Graduation"))
    
    #tup = (name , high_ed ,pri_sk , yr_grad)
    #L.append(tup)
    
#print(L)

#User input:
#a = input("Enter requirement: ")
#if a == "Job Role Requirement":
    
    #skill = input("enter skill: ")
    #high_ed = input("Enter higher education: ")    
    #yr_grad = int(input("Enter Year of Graduation: "))
    #t = (high_ed,skill,yr_grad)
    #for i in L:
        #if i[1] == t[0] and i[2] == t[1] and i[3] == t[2]:
            #print(i)
            #break
        #else:
            #print("No such candidate")
#else:
    #print("Try again")

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [82]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

a = set(ar1)
b = set(ar2)
c = set(ar3)

final_set = (a.intersection(b)).intersection(c)
print(sorted(final_set,reverse=True))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [86]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = "aeiouAEIOU"
s = set()
for i in Str1:
    if i in vowels:
        s.add(i)
print("No of unique vowels-{}".format(len(s)))

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [6]:
# write your code here
str = input("enter a string")
s = set()
for i in str:
    s.add(i)
    
print(s)
if len(s)==2:
    print("Yes")
else:
    print("No")

enter a stringCampusx
{'a', 's', 'p', 'm', 'x', 'u', 'C'}
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [10]:
# write your code here
l = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()
for i in l:
    s = s.union(i)

print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [16]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
list(lst1.intersection(lst2))

[9, 10, 4, 5]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [24]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
k = ""
s = set()
for i,j in test_dict.items():
    t = set(test_dict[i])
    if len(s) < len(t):
        s = t
        k = i
    
print(k)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [32]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
test = test_str.split(" ")
final = ""
for i in test:
    if i in repl_dict:
        i = repl_dict[i]
        final = final + i + " "
    else:
        final += i + " "
print(final)

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [8]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
L = []

for i in range(0,len(test_list),2):
    L.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
    
    
print(L)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [54]:
list(zip(key_list,test_list))

[('name', 'DataScience'), ('id', 3)]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [19]:
# write your code here
l =[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
f = dict()
for i in l:
    f[i[0]]=[i[1]]
print(f)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [56]:
# write your code here
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
t = {}
for i,j in d.items():
    t[i] = sum(j)
L = sorted(t.items())
#print(L)
final={}
for i in L:
    a = i[0]
    final[i[0]] = sorted(d[a])
final

{'a': [4, 19], 'b': [10, 12], 'c': [3]}